# folders

## IDEs
.idea/

## Cache
__pycache__
.ipynb_checkpoints

# files

## Mac OS
.DS_Store

# Environments
.env
.venv
env/
venv/


# Packages
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs
*.log

/Dockerfile
